#amTitle {
    text-align: center
}

#amImage {
    border: 5px solid; 
    float: right
}

.amText {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.amPara {
    font-size: 20px
}

hr {
    border-width: 2px
}