.rTitle {
    text-align: center
}

.rList {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.topText {
    text-align: center 
}

#name {
    text-align: center
}

hr {
    border-width: 2px
}