.tableBottom {
    outline-style: solid;
    animation: fadeIn ease 2s;
    float: left
}

.navbar{
    animation: fadeIn ease 2s
}

.name1 {
    animation-duration: 6s;
    animation-name: fadeIn2;
    float: left;
    margin: 7px
}

.name2 {
    animation-duration: 10s;
    animation-name: fadeIn2;
    float: left;
    margin: 7px
}

.welcomeText {
    animation-duration: 14s;
    animation-name: fadeIn2;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeIn2 {
0% {opacity:0;}
25% {opacity:0;}
100% {opacity:1;}
}

.tabletextStyle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

.tablePhotos {
    text-align: center
}


